html, body {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 2000px;
  background-image: linear-gradient(#FEFFFF, #DFCEFF);
    hsla(0,0%,0%,.3);
  }
  /* .zoom {
    zoom: 100%;
  } */

  .button1 {
    background-color: #963cfc;
    border: none;
    text-decoration: none;
    font-family: 'clear sans';
    padding: 12px 20px;
    text-align: center;
    margin-left: 00px;
    margin-right: 200px;
    margin-top: 10px;
    font-size: 14px;
    list-style-type: none;
    color: white;
  }



li {
  float: right;
  font-family: 'clear sans';
  font-style:
}

a {
  display: inline-block;
  padding: 14px;
}

ul {
   list-style-type: none;
   margin: 0;
   padding-right: 30px;
   overflow: hidden;
   font-weight: bold;

}

li {
   float: right;
}

li a {
   display: block;
   color: black;
   text-align: center;
   padding: 18px 24px;
   text-decoration: none;
}

li a:hover {
   color: #963cfc;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;

}

$div {
  width: 100%;
  height: 100vh;
  background: #111;
}

::-webkit-scrollbar {width: 6px;}
::-webkit-scrollbar-track {
  background-color: rgba(25, 25, 25, 0.2);

}
::-webkit-scrollbar-thumb {
  background-color:  #963cfc;
}


#container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#scroll-down-container {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
  p{
    color:black;
    margin: 0;
  }
}

.arrow {
  display: inline-block;
  background-color: #963cfc;
  border-radius: 10px;
  width:30px;
  height:4px;
  position: relative;
  top: 10px;
  left: 10px;
  margin-bottom: 100px;
}

#point1 {
  transform-origin: 0% 50%;
  animation: anim1 .3s ease infinite alternate;

}

#point2 {
  transform-origin: 100% 50%;
  animation: anim2 .3s ease infinite alternate;
}

@keyframes anim1 {
  from {transform: translateX(7px) rotate(30deg);}
  to {transform: translateX(4px) rotate(10deg);}
}

@keyframes anim2 {
  from {transform: translateX(-7px) rotate(-30deg);}
  to {transform: translateX(-4px) rotate(-10deg);}
}

/* .button2 {
  background-color: #963cfc;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  display: block;
  list-style-type: none;
  position: relative;

} */

.button2
{
  background-color: #963cfc;
  border: none;

  padding: 12px 20px;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  display: block;

  list-style-type: none;
  position: relative;
}

.button2 a {
    color: white;
    text-decoration: none;
}

/* .button2.relative{
  top: 50px;
  position: relative;

} */

h1 {
  position: relative;
  margin-bottom: 3.5em;
  margin-top: 1em;
  line-height: 2em;
  text-align:center;
  font-family: sans-serif;
  color: #963cfc;
}

h2 {
  position: relative;
  /* margin-bottom: .5em;
  margin-top: .5em;
  line-height: .5em; */
  text-align:center;
  font-family: sans-serif;
  color: #000000;
  font-size: 12px;
}

form {
  position: relative;
  margin-bottom: 6.5em;
  margin-top: 1em;
  line-height: 2em;
  text-align:center;
  font-family: sans-serif;
  color: #000000;
}

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #963cfc;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #77f04a;
}

.container {
    border-radius: 5px;
    background-color: #F2F0FF;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

::-webkit-scrollbar {width: 6px;}
::-webkit-scrollbar-track {
  background-color: rgba(25, 25, 25, 0.2);

}
::-webkit-scrollbar-thumb {
  background-color:  #963cfc;
}

p {
   float: left;
   font-family: sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   margin-left: auto;
   margin-right: auto;
 }

#wrapper {
 margin-left: 200px;
   margin-right: 200px;
   margin-top: 20px;

}
 .card {
 background: #fff;
 border-radius: 2px;
 display: inline-block;
 height: 300px;
 margin: 1rem;
 width: 300px;
 overflow-y: scroll;
 box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 /* word-break: break-all; */
 text-align: center;
}

.card-1 {
 box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 transition: all 0.3s cubic-bezier(.25,.8,.25,1);
 overflow-y: scroll;
 /* word-break: break-all; */
 text-align: center;

}

.card-2 {
 box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
   overflow-y: scroll;
   word-break: break-all;s

}

.card-3 {
 box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 overflow-y: scroll;
 word-break: break-all;
}

.card-4{
 box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 overflow-y: scroll;
 word-break: break-all;
}

.card-5 {
 box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 overflow-y: scroll;
 word-break: break-all;
}
.card-6 {
 box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 overflow-y: scroll;
 word-break: break-all;
}

::-webkit-scrollbar {width: 6px;}
::-webkit-scrollbar-track {
 background-color: rgba(25, 25, 25, 0.2);


}
::-webkit-scrollbar-thumb {
 background-color:  #963cfc;
}
